@page
@model IndexModel
@{
    ViewData["Title"] = "Vejrudsigten";
}

<div class="text-center">
    <h1 class="display-4">Vejrudsigten</h1>
    <br />
    <h2 style="color: green; border: solid 2px green;">@ViewData["By"]</h2>
    <h3 style="color: blue;">@ViewData["Vejrudsigten"]</h3>
</div>
